@{
    ViewData["Title"] = "Messages";
}

<div class="container mt-4">
    <h2>Your Messages</h2>
    <ul>
        @foreach (var msg in Model)
        {
            <li>@msg</li>
        }
    </ul>
</div>
